.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center center;
}
.invalid-feedback
{
  margin-left: 25px;
}
.navbar-brand img
{
    width: 60%;
}
.spinner-border, .spinner-grow
{
  position: absolute;
  left: 50%;
  top: 50%;
}